.page {
    margin: 150px 0;
	min-height: 100vh;
	height: auto;
  
}


@media (max-width: 992px){
    .page {
        margin-top: 100px;
    }
}
.page__services {
	display: flex;
    align-items: center;
    justify-content: center;
}

.services__content {
    display: flex;
    flex-direction: column;
    gap:40px;
    width: 100%;   
    
}

.services__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Карточки с авто-шириной */
    gap: 50px;
}

.services__column {
    
    /* box-sizing: border-box;  */
    display: flex;
    align-items: center;
    justify-self: center;

}
.services__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--border);
    padding: 20px;
    /* gap: 50px; */
    border-radius: 20px;
    text-align: center;
    background-color: var(--base);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    height: 400px;
    max-width: 300px;
    min-width: 250px;
    padding-bottom: 30px;
}
.item-services {
}
.item-service__img {
    width: 100%;
    height: auto; 
    overflow: hidden; /* Убирает лишние части изображения */
    max-width: 250px;
    max-height: 160px;
    border-radius: 10px;
    border: 2px solid var(--border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-service__img img {
    width: 100%;
    height: auto; /* Сохраняет пропорции изображения */
    object-fit: contain; /* Изображение сохраняет пропорции и помещается в контейнер */
   
}
.item-service__title {
    line-height: 1.25; /* Увеличенный межстрочный интервал */
    font-size: 1.125rem;
    font-weight: 600;
    padding-top: 10px;
    height: auto;
    min-height: 50px;
/* 
    text-transform: uppercase; */
}
.item-service__price{
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-weight: 500;

}

.item-service_buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.item-service__button {
    text-decoration: none
}


.button-page{

     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     background-color: var(--main_color);
     line-height: 142%;
     padding: 5px 20px;
     text-align: center;
     border-radius: 7px;
     flex-wrap: nowrap;
     cursor: pointer;
     font-size: 1.125rem;

}




.main-block__button__add{
    padding: 7px 14px;
    border-radius: 50%;
    background-color: var(--main_color);
    color: white;

}


.services__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   

}


.basket-container{
    position: relative;
}

.basket__img{
    padding: 12px;
    border-radius: 50%;
    background-color: white;
    width: 65px;
    height: 65px;

}
.basket_amount {
    position: absolute;
    top: 0;
    left: 45px; 
    background-color: var(--main_color);
    width: 20px; /* Увеличил размер кружка для наглядности */
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
}


.services__search input {
  padding: 10px;
  appearance: none; /* Убирает стандартную стрелку */
  -moz-appearance: none; /* Для Firefox */
  -webkit-appearance: none; /* Для Safari и Chrome */
  width: 100%; /* Ширина на 100% */
  box-sizing: border-box; /* Учитываем padding и border в ширину */
  position: relative; /* Для правильного позиционирования */
}

/* Дополнительные стили для select */
.services__search select {
    padding: 10px;
    border: 2px solid var(--border);
    border-radius: 5px;
    appearance: none; /* Убирает стандартную стрелку */
    -moz-appearance: none; /* Для Firefox */
    -webkit-appearance: none; /* Для Safari и Chrome */

    width: 100%; /* Ширина на 100% */
    box-sizing: border-box; /* Учитываем padding и border в ширину */
    position: relative; /* Для правильного позиционирования */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5"><path fill="%23666" d="M0 0l5 5 5-5H0z"/></svg>') no-repeat right 10px center; /* Ваша стрелочка */

    background-size: 12px; /* Размер стрелочки */
    padding-right: 30px; /* Пространство для стрелочки */
}


.services__text{
    color:var(--text);
    margin: 20px 0px 10px 0px;
}

/* .services__search option {
    color: black;
} */




.search-container {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    max-width: 300px; /* Настройте под нужный размер */
    background-color: #fff; /* Добавляем белый фон для контейнера */
  }
  
  .search-input {
    border: none;
    padding: 10px;
    flex: 1;
    font-size: 16px;
    outline: none;
    background-color: transparent; /* Прозрачный фон */
  }
  
  .search-button {
    background-color: var(--main_color);
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .search-button img {
   
  }
  